
<table class="table table-bordered">
  <caption>边框表格布局</caption>
  <thead>
    <tr>
      <th>编号</th>
      <th>类型</th>
      <th>状态</th>
      <th>文件名</th>
      <th>价钱</th>
      <th>名称</th>
      <th>时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  {% for record in records %}
    <tr>
      <td>{{record.id}}</td>
      <td>{{record.type}}</td>
      <td>{{record.status}}</td>
      <td>{{record.filename}}</td>
      <td>{{record.price}}</td>
      <td>{{record.name}}</td>
      <td>{{record.timestamp}}</td>
      <button>通过</button>
    </tr>
    {% endfor %}
  </tbody>
</table>
