
/* 修改container最大宽度为1600 */
@media screen and (min-width: 1600px) {
    .container {
        width: 100%
    }
}

* {
    margin: 0;
    padding: 0;
}

.w {
    width: 100%;
    margin: auto;
}
li {
    list-style: none;
}
a{
    color: #9c9b9d;
    text-decoration: none;
}

a:hover{
    color: #9c9b9d;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
*:focus { outline: none; }

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 4px #a1a7b3;
    background-color: #ffffff;
    z-index: 1;
}
.logo {
    float: left;
    margin-left: 30px;
    width: 86px;
    height: 60px;
}
.nav {
    float: right;
    margin-left: 20px;
}
.nav ul li {
    float: left;
    margin: 0 40px;
}
.nav ul li a {
    display: block;
    height: 57px;
    padding: 0 10px;
    line-height: 57px;
    font-size: 20px;
    font-weight: 600;
    color: #033783;
    transition: 0.2s;
    text-decoration: none;
}
.nav ul li a:hover {
    display: inline-block;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    border-bottom: 4px solid #033783;
}
.user {
  width: 130px;
  float: right;
  line-height: 5px;
}
.user ul li {
  float: right;
  margin: 0 40px;
}
.user ul li a{
  float: right;
  display: block;
  height: 55px;
  padding: 0px 10px;
  line-height: 55px;
  font-size: 20px;
  font-weight: 600;
    transition: .4s;
}

.user ul li a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.menu{
    width: 40px;
    margin-top:20px;
    margin-left:20px;
    display: none;
  }
.menu i{
    display:block;
    width: 30px;
    height: 2px;
    background:#033783;
    margin:6px auto;
    cursor: pointer;
  }
.search {
    float: left;
    width: 400px;
    height: 50px;
    margin-left: 40px;
}

.search input {
    float: left;
    width: 310px;
    height: 30px;
    margin: 15px;
    margin-right: 0;
    border: 1px solid #033783;
    border-right: #ffffff;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    background-color: #ffffff;
    color: #033783;
    font-size: 15px;
    padding-left: 20px;
}

.search button {
    float: left;
    width: 34px;
    height: 30px;
    margin: 15px;
    margin-left: 0;
    border: 1px solid #033783;
    border-left: #ffffff;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    background-color: #ffffff;
}

.carpet{
    width:97%;
    height: 500px;
    margin: 0 auto;
    padding:20px;
    margin-top:100px;
    border-radius:12px;
    background-color:#edeef0;
    /* box-shadow: 0 0 7px #9c9b9d; */
    z-index: 0;
}

.slogan{
    margin-top: 170px;
    margin-bottom: 180px;
    margin-left: 50px;
    margin-right: -50px;
    padding: 0;
    font-size: 35px;
    font-weight: 800;
    color: #033783;
}

/* 轮播图 */
.swiper img{
    border-radius: 25px;
}
.selected{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    overflow: hidden;
}
.swiper{
    padding-top: 30px ;
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
}
.swiper input{
    display: none;
}
label{
    position: absolute;
    bottom: 30px;
    width: 12px;
    height: 12px;
    border: 2px solid #033783;
    border-radius: 50%;
    background-color: #edeef0;
}
label[for='btn1']{
    left: 44%;
}
label[for='btn2']{
    left: 50%;
}
label[for='btn3']{
    left: 56%;
}
.swiper ul{
    display: flex;
    width: 400px;
    transition: all 0.5s;
}
.swiper li{
    list-style-type: none;
}
#btn1:checked ~ ul{
    margin-left: 0;
}
#btn2:checked ~ ul{
    margin-left: -400px;
}
#btn3:checked ~ ul{
    margin-left: -800px;
}

#btn1:checked~label[for='btn1']{
    background-color: #033783;
}
#btn2:checked~label[for='btn2']{
    background-color: #033783;
}
#btn3:checked~label[for='btn3']{
    background-color: #033783;
}
.footer{
    width:97%;
    height: 65px;
    margin: 0 auto;
    background-color: none  ;
    padding:20px;
    margin-top:30px;
    margin-bottom:30px;
    border-radius:12px;
}
.footer-box1{
    display: flex;
    height: 80px;
}

.footer-box2{
    display: flex;
    height: 80px;
}

.qrs-all{
    width: 200px;
    height: 150px;
    margin: 0 auto;
    padding: none;
}

.qr{
    float: left;
    padding-left: none;
    margin-top: none;
  }

  .wechat{
    float: left;
    padding-left: 15px;
    margin-top: 23px;
  }

  .wechat-text{
    float: left;
    padding-left: 15px;
    margin-top: 23px;
    font-size: 5px;
    font-weight: 600;
    color: #033783;
  }

  .qr2{
    display: none;
  }

  .wechat2{
    display: none;
  }

  .wechat-text2{
    display: none;
  }

  .mail-all{
    display: flex;
    width: 200px;
    height: 80px;
    margin: 0 auto;
    padding: none;
}

  .mail{
    float: left;
    justify-content: center;
    align-items: center;
    padding: none;
    margin-top: 23px;
  }

  .mail-text{
    float: left;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    margin-top: 23px;
    font-size: 5px;
    font-weight: 600;
    color: #033783;
  }

  .mail-text a{
    float: left;
    color: #033783;
  }

  .mail-text a:hover {
    color: #0366c0;
  }

  .weibo-all{
    display: flex;
    width: 120px;
    height: 80px;
    margin: 0 auto;
    padding: none;
  }

  .weibo{
    float: left;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .weibo-text{
    float: left;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    margin-top: 23px;
    font-size: 5px;
    font-weight: 600;
    color: #033783;
  }

  .weibo-text a{
    float: left;
    color: #033783;
  }

  .weibo-text a:hover {
    color: #0366c0;
  }

  .bottom-logo{
    width: 100px;
    margin: 0 auto;
    padding-left: none;
  }
  body{
    background:#edeef0;
  }
@media(max-width:1600px){
    .mail-all{
        width: 250px;
        height: 80px;
        margin: 0 auto;
        padding: none;
    }
    .weibo-all{
        width: 170px;
        height: 80px;
        margin: 0 auto;
        padding: none;
      }

      .bottom-logo{
        padding: none;
        width: 150px;
        margin: 0 auto;
      }
}

@media(max-width:1380px){
    .nav {
        float: right;
        margin-left: 20px;
    }
    .nav ul li {
        float: left;
        margin: 0 10px;
    }
    .nav ul li a {
        display: block;
        height: 60px;
        padding: 0 20px;
        line-height: 60px;
        font-size: 20px;
        font-weight: 600;
        color: #033783;
    }
    .search {
        width: 400px;
    }

    .search input {
        width: 310px;
    }
}

@media(max-width:1200px){
    .mail-all{
        width: 200px;
        height: 80px;
        margin: 0 auto;
        padding: none;
    }
    .weibo-all{
        width: 205px;
        height: 80px;
        margin: 0 auto;
        padding: none;
      }
    .weibo{
        padding-left: 85px;
    }
      .bottom-logo{
        padding: none;
        width: 90px;
        margin: 0 auto;
      }
    .slogan{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media(max-width:1160px){
    .user {
        float: right;
        padding-right: none;
        line-height: 10px;
        width: 60px;
      }
    .user ul li a{
        float: right;
        display: block;
        height: 60px;
        padding: 0px 0px;
        line-height: 60px;
        font-size: 20px;
        font-weight: 600;
    }

.logo{
    display: none;
}
.search {
    float: right;
    width: 365px;
    margin-right: calc(50% - 242px);
    margin-left: 0px;
}
.search input {
    width: 300px;
}

.nav li {
    width: 100%;
    height: 100%;
    padding: 10px 20px 50px 100px;
}

.nav{
  margin-left:0;
  width: 100%;
  text-align: center;
  border: 1px solid #aaa;
  display: none;
}

.nav ul li{
padding: 0px;
margin:0;
}

.nav ul li a{
background-color:rgba(255,255,255,0.9);
padding:0;
margin-top: 0;
border: 1px solid #eee;
}

.nav ul li a:hover{
    display: block;
}

.menu{
    display: block;
}

.menu i{
    transform-origin: left;transition:0.3s;
}

}

@media(max-width:992px){
    .footer-box1{
        height: 150px;
    }
    .footer-box2{
        height: 60px;
    }
    .carpet{
        height: 850px;
    }
    .mail-all{
        height: 80px;
        width: 200px;
        margin: 0 auto;
    }
    .mail{
        margin: 0 auto;
        padding: none;
    }
    .mail-text{
        margin: 0 auto;
    }

    .qr{
        display: none;
    }

    .wechat{
        display: none;
    }

    .wechat-text{
        display: none;
    }
    .qr2{
        display: block;
        width: 70px;
        margin: 0 auto;
      }

      .wechat2{
        display: block;
        width: 30px;
        margin: 0 auto;
      }

      .wechat-text2{
        display: none;
        padding-left: 15px;
        margin-top: 23px;
        font-size: 5px;
        font-weight: 600;
        color: #565557;
      }
      .weibo-all{
        width: 120px;
        height: 80px;
        margin: 0 auto;
        padding: none;
      }
      .weibo-text{
        margin-top: 0px;
      }
      .weibo{
        margin-top: 0px;
        padding-left: 0px;
      }
      .bottom-logo{
        width: 90px;
        height: 150px;
        margin: 0 auto;
      }
      .slogan{
          margin-left: 50px;
          margin-right: -50px;
      }
}


@media(max-width:600px){
    .search {
        width: calc(70% + 40px);
        margin-right: calc(15% - 115px);
    }
    .search input {
        width: 70%;
    }
}

.container{
  margin-top: 40px;
}
.nft-tabs{
    width: 90%;
    margin: 0 auto;
}

.item-img{
    transition: transform .1s;
    background: #fff;
    box-shadow: 3px 3px 2px 0 hsla(203,6%,45%,.3);
    border-radius: 8px;
    left: 20px;
    bottom: 24px;
    position: absolute;
    width: 250px;
    height: 233px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin:0px; !important;
}

.item .item-img,.item {
    transition: transform .8s;
    background: #fff;
    box-shadow: 3px 3px 2px 0 hsla(203,6%,45%,.3);
    border-radius: 8px;
    /*left: 20px;*/
    /*bottom: 24px;*/
    position: relative;
    margin-top:100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.item-img{
    margin-left: 20px;
}
.nft_details {
    transition: transform .8s;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 100px;
}


.nft_details .nft_title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    width: 286px;
    height: 48px;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
        color: #033783;
}
.nft_details .nft_time{
    margin-top: 5px;
    display: flex;
    align-items: center;
    height: 17px;
    font-size: 9px;
    color: #999;
}
.nft_details .nft_author{
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 17px;
    font-size: 9px;
    color: #999;
}

.nft_details .nft_price{
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    color: #033783;
    font-size: 18px;
}

.item:hover {
    box-shadow: 0 15px 20px 0 hsla(203,6%,45%,.4);
}

.item:hover .item-img{
    transform: translate3d(0,-30px,0);
}
.item:hover .nft_details{
    transform: translate3d(0,-25px,0);
}
.item:hover .sell-tag {
    transform: translate3d(5px,-5px,0);
}
.main{
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right:300px;
}
.pager{
    font-size: 30px;
}

.sell-tag {
    transform: scale(.6);
        transition: transform .8s;
    transform-origin: left top;
    top: -1rem;
    left: 1rem;
}
.absolute {
    position: absolute;
}

.sale-text {
    position: absolute;
    left: 70px;
    top: 17px;
    font-size: 30px;
    height: 28px;
    line-height: 28px;
    font-weight: 600;
    color: #fff;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.pagination li a{
    width: 10px;
    height: 36px;
    position: relative;
    float: left;
    padding: 0px;
    margin: 25px;
    line-height: 1.42857143;
    color: #0366c0;
    text-decoration: none;
    background-color: #edeef0;
    border: none;
    font-weight: 900;
}
.pagination li a:hover{
    border-bottom: 4px solid #033783;
    transition: 0.2s;
}
.pagination .active a{
    z-index: 3;
    color: #033783;
    cursor: default;
    background-color: #edeef0;
    border-bottom: 4px solid #033783;
    font-weight: 900;
    font-family: inherit;
}
.pagination .active a:hover{
    background-color: #edeef0;
    border-bottom: 4px solid #033783;
    color: #033783;
}
.pagination .disabled a{
    color: #0366c0;
    cursor: not-allowed;
    background-color: #edeef0;
}
.pagination .disabled a:hover{
    background-color: #edeef0;
    border-bottom: none;
    color: #033783;
}
.pagination li:first-child a{
    margin-left: 25px;
}
.pagination li:first-child a:hover{
    background-color: #edeef0;
    border-bottom: none;
    color: #033783;
}
.pagination li:last-child a:hover{
    background-color: #edeef0;
    border-bottom: none;
    color: #033783;
}

@media (max-width: 1600px) {
    .nft_details{
        margin-top: 30px;
    }
}
@media (max-width: 1200px) {
    .item-img{
    transition: transform .1s;
        margin-left: 4px;
    background: #fff;
    box-shadow: 3px 3px 2px 0 hsla(203,6%,45%,.3);
    border-radius: 8px;
    left: 20px;
    bottom: 24px;
    position: absolute;
    width: 374px;
    height: 233px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    !important;
}
    .nft_details{
        margin-top: 30px;
    }
}
@media (max-width: 992px) {

    .item-img{
    transition: transform .1s;
    margin-left: 20px;
    background: #fff;
    box-shadow: 3px 3px 2px 0 hsla(203,6%,45%,.3);
    border-radius: 8px;
    left: 20px;
    bottom: 24px;
    position: absolute;
    width: 300.023px;
    height: 233px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    !important;
}
    .nft_details {
        transition: transform .8s;
        margin-left: 60px;
        margin-top: 80px;
}
}