    {% for nft in nfts %}
        <div class="item-a col-xs-12 col-md-6 col-lg-4">
            <div class="item">
        <div class="row">
            <div class="item-img col-xs-4" style="background-image:url(../static/images/{{nft.id}}.jpg)"></div>

    <div class="absolute  sell-tag"><img src="../static/images/selling1.png" >
{#    <span class="sale-text" >出售中</span>#}
    </div>
        <div class="col-xs-4 nft_details">
            <div class="nft_title">作品名：word</div>
            <div class="nft_time">创作时间：<br>2013.11.23</div>
            <div class="nft_author">作者：<br>MuDi</div>
            <div class="nft_price">价格：<br>$ 9999</div>
        </div>
        </div>
        </div>
</div>
    {% endfor %}

