    {% for nft in nfts %}
    <a href="{{url_for("main.nftpage", id=nft.id)}}">
        <div class="item-a col-xs-12 col-md-6 col-lg-4">
            <div class="item">
        <div class="row">
            <div class="item-img col-xs-4" style="background-image:url(../static/images/3.jpg)"></div>

    <div class="absolute  sell-tag"><img src="../static/images/selling1.png" >
{#    <span class="sale-text" >出售中</span>#}
    </div>
        <div class="col-xs-4 nft_details">
            <div class="nft_title">作品名：{{nft.name}}</div>
            <div class="nft_time">创作时间：{{nft.timestamp}}</div>
            <div class="nft_author">作者：<br>{{User.query.filter_by(id=nft.author_id).first().name}}</div>
            <div class="nft_price">价格：<br>$ {{nft.price}}</div>
        </div>
        </div>
        </div>
</div>
    </a>
    {% endfor %}

