{% extends "base.html" %}
{% block body %}
<div class="carpet3">
<div class="upload-all">上 传 我 的 作 品</div>
</div>
    <form  method="post">
        {{ form.hidden_tag() }}
    <div class="type"><h2>上传文件</h2></div>
            <main class="type-main">
                <div id='tab'>
            <div class='tab_div  curr_div'>
                <div class="type-main2-4">
                    <div class="uploading-area">
                                        {{form.file}}
<!--                        <img src="../static/images/upload-add.png" alt="">-->
                                <div class="uploading-area-text">支持音频、视频、文档</div>
                    </div>
                </div>
            </div>
            </div>
            </main>

    <div class="type"><h2>作品信息</h2></div>
    <div class="info">
        <div class="info-detail">
            <div class="text">作品名称: </div>
            {{form.name}}
        </div>
        <div class="info-detail">
            <div class="text">作品简介: </div>
            {{form.description}}
        </div>
        <div class="info-detail">
            <div class="text">作品描述: </div>
        {{form.introduction}}
        </div>
        <div class="info-detail">
            <div class="text">作者简介: </div>
            {{form.author_introduction}}
        </div>
    </div>
    <div class="price"><h2>作品价格</h2></div>
    <div class="attention">（注：一旦上链成功将无法修改）</div>
    <div class="info">
<div class="info-detail">
            <div class="text">作品价格: </div>
    {{form.price}}
</div>
</div>
    <div class="form-group"><a href="" class="confirm">{{form.submit}}</a></div>
        </form>
{% endblock %}